{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Penilaian</title>

    <!-- Custom fonts for this template-->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

       <!-- Sidebar -->
       <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{%url 'index'%}">
            <div class="sidebar-brand-text mx-3">SPK Bantuan<sup style="color: rgb(255, 251, 0);">PKH</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{%url 'index'%}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            SPK PKH
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="{%url 'data:alternatif'%}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Alternatif</span></a>  
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Kriteria</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Data Keriteria:</h6>
                    <a class="collapse-item" href="{%url 'data:kriteria'%}">Kriteria</a>
                    <a class="collapse-item" href="{%url 'data:sub_kriteria'%}">Sub Kriteria</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="{%url 'data:penilaian'%}">
                <i class="fas fa-fw fa-table"></i>
                <span>Penilaian</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'data:perengkingan'%}">
                <i class="fas fa-fw fa-folder"></i>
                <span>Perengkingan</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                 <!-- Topbar -->
                 <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>                       
                    </button>

                    <!-- penilaian -->
                    <div class="">
                        <h1 class="h3 mb-0 text-gray-800">Penerimaan Bantuan PKH<h1></h1>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user}}</span>
                                <img class="img-profile rounded-circle"
                                    src="{%static 'img/profile.png'%}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{%url 'logout'%}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Penilaian<h1>
                            <a href="{%url 'data:inpenilaian'%}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-plus fa-sm text-white-50"></i>  Add Data</a>
                    </div>

                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div id="popup" >
                        <!-- icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </symbol>
                            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                            </symbol>                               
                        </svg>
                        
                        <!-- message -->
                        <div class="alert alert-success d-flex align-items-center" role="alert" id="success-message">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            <div>
                                {{ message }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data Alternatif & Nilai Kriteria Penilaian</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="text-center">
                                            <th>NO</th>
                                            <th>ALTERNATIF</th>
                                            <th>RUMAH (25%)</th>
                                            <th>PENGHASILAN (10%)</th>
                                            <th>BUMIL & BUNSUI (20%)</th>
                                            <th>LANSIA (30%)</th>
                                            <th>ANAK SEKOLAH (15%)</th>
                                        </tr>
                                    </thead>                                   
                                    <tbody >
                                        {%for data in datas%}                                   
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td >
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        {{ data.nama }}
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                        aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Action:</div>
                                                        <a class="dropdown-item" href="{%url 'data:uppenilaian' id=data.id%}">Edit</a>                                                        
                                                        <a class="dropdown-item" href="{%url 'data:delpenilaian' id=data.id%}" onclick="return confirm('yakin ingin menghapus data?')">Hapus</a>                                                        
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">{{ data.kondisi_rumah.nilai_sub_kriteria }}</td>
                                            <td class="text-center">{{ data.penghasilan.nilai_sub_kriteria }}</td>
                                            <td class="text-center">{{ data.bumil_dan_bunsui.nilai_sub_kriteria }}</td>
                                            <td class="text-center">{{ data.lansia.nilai_sub_kriteria }}</td>
                                            <td class="text-center">{{ data.anak_sekolah.nilai_sub_kriteria }}</td>
                                        </tr>
                                        {%endfor%}
                                        <tr class="text-center font-weight-bold">
                                            <td colspan="2" class="table-primary ">NILAI MAX</td>                                
                                            <td>{{ max_kondisi_rumah }}</td>
                                            <td>{{ max_penghasilan }}</td>
                                            <td>{{ max_bumil_dan_bunsui }}</td>
                                            <td>{{ max_lansia }}</td>
                                            <td>{{ max_anak_sekolah }}</td>
                                        </tr>
                                        <tr class="text-center font-weight-bold">
                                            <td colspan="2" class="table-success"  >NILAI MIN</td>                                            
                                            <td>{{ min_kondisi_rumah }}</td>
                                            <td>{{ min_penghasilan }}</td>
                                            <td>{{ min_bumil_dan_bunsui }}</td>
                                            <td>{{ min_lansia }}</td>
                                            <td>{{ min_anak_sekolah }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data Nilai Normalisasi Matrik</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="text-center">
                                            <th>NO</th>
                                            <th>ALTERNATIF</th>
                                            <th>RUMAH (25%)</th>
                                            <th>PENGHASILAN (10%)</th>
                                            <th>BUMIL & BUNSUI (20%)</th>
                                            <th>LANSIA (03%)</th>
                                            <th>ANAK SEKOLAH (15%)</th>
                                        </tr>
                                    </thead>                                   
                                    <tbody >
                                        {%for norml in normalisasi%}                                   
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td >{{ norml.alternatif }}</td>
                                            <td class="text-center">{{ norml.kondisi_rumah }}</td>
                                            <td class="text-center">{{ norml.penghasilan  }}</td>
                                            <td class="text-center">{{ norml.bumil_dan_bunsui  }}</td>
                                            <td class="text-center">{{ norml.lansia  }}</td>
                                            <td class="text-center">{{ norml.anak_sekolah  }}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                    <br>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data Nilai Evaluasi</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="text-center">
                                            <th>NO</th>
                                            <th>ALTERNATIF</th>
                                            <th>RUMAH</th>
                                            <th>PENGHASILAN</th>
                                            <th>BUMIL & BUNSUI</th>
                                            <th>LANSIA</th>
                                            <th>ANAK SEKOLAH</th>
                                            <th>TOTAL NILAI</th>
                                            <th>KET</th>
                                        </tr>
                                    </thead>                                   
                                    <tbody >
                                        {%for mat in matriks %}                                   
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td >{{ mat.alternatif }}</td>
                                            <td class="text-center">{{ mat.kondisi_rumah }}</td>
                                            <td class="text-center">{{ mat.penghasilan  }}</td>
                                            <td class="text-center">{{ mat.bumil_dan_bunsui  }}</td>
                                            <td class="text-center">{{ mat.lansia  }}</td>
                                            <td class="text-center">{{ mat.anak_sekolah  }}</td>
                                            <td class="text-center">{{ mat.total  }}</td>
                                            <td class="text-center">
                                                {%if mat.ket == 'Layak'%}
                                                <span class="badge bg-primary text-white">{{ mat.ket }}</span>
                                                {%else%}
                                                    {{ mat.ket }}
                                                {%endif%}
                                            </td>
                                        </tr>
                                        {%endfor%}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; elq132</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{%url 'logout'%}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'vendor/chart.js/Chart.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'js/demo/chart-area-demo.js'%}"></script>
    <script src="{%static 'js/demo/chart-pie-demo.js'%}"></script>

    <script>
        setTimeout(function() {
          var popup = document.getElementById("popup");
          popup.style.display = "none";
        }, 3000);
    </script>

</body>

</html>